
#Variable para almacenar el nombre completo.
#    se debe crear un ".env" para que se muestre como mensaje 
NOMBRE= nombre para mostrarlo

#Variables de la base de datos.
#    ahora aqui se debe ingresar los datos de la base de datos
UsuarioDB=usuario_de_la_bd
ClaveDB=clave_de_la_bd
NombreDB=nombre_de_la_bd